*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Be Vietnam Pro", sans-serif;
    scroll-behavior: smooth;
}

:root{
    --bgOrange: #e84949;
}

#wrapper{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

a{
    text-decoration: none;
    color: black;
}

img{
    overflow-clip-margin: content-box;
    overflow: clip;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

.absolute{
    position: absolute;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 1rem;
}

.header-left{
    display: flex;
    align-items: center;
}

.header-left .header-logo{
    width: 80px;
}

.header-right{
    display: flex;
    /* justify-content: center;
    align-items: center; */
    gap: 2rem;
    padding: 0 4em;
}

.header-left .header-name{
    font-size: 28px;
    margin-left: -1.2rem;
}

.header-right a{
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.hero{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;

    gap: 5rem;
    margin: 4rem auto;
    padding: 0 1rem;
    padding-bottom: 8rem;
}


.hero-left{
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 2rem;

}

.hero-heading{
    font-size: 35px;
    color: #343d68;
    font-weight: 500;
}

.hero-sub-heading{
    font-size: 45px;
    line-height: 45px;
}

.role {
    color: #4e45d5;
    font-weight: 800;
  }

.hero-text{
    margin-top: 1rem;
    width: 70%;
    font-weight: 500;
}

.classic-button{
    width: fit-content;
    position: relative;
    background-color: var(--bgOrange);
    cursor: pointer;   
    z-index:1;
    color: white;

    padding: 0.8rem 2.3rem;
    box-shadow: 5px 5px 7px 0px #0000003f;
    font-size: 18px;
    font-weight: 500;
    border: solid 3px transparent;
}

.classic-button:hover{
    color: black;
}

.classic-button::before{
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index:-1;
    transform: scaleX(0);
    background-color: white;
    transition: transform 0.8s;
    transform-origin: left;
    
    
}

.classic-button:hover::before{
    transform: scaleX(1);
    transition: transform 0.8s linear 0;
    transform-origin: left;
}

.hero-right{
    z-index: 0;
    position: relative;
}




.title-img{
    z-index: 0;

    filter:sepia(0);
    
    animation-name: title-anim;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    padding: 2.5rem;


}

@keyframes title-anim{
    0%{
        transform: scale(1);
        filter: sepia(0);
    }

    50%{
        transform: scale(1.1);
        filter: sepia(1);
        box-shadow: 3px 3px 10px black;
    }

    100%{
        transform: scale(1);
        filter: sepia(0);
    }
}

.circles{
    z-index: 1;

    left: 0;
    bottom: 0;
    animation-name: circle-anim;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes circle-anim{
    50%{
        left: 5%;
        bottom: 10%;
    }
}

.zig-zag{
    z-index: 1;

    top: 1.5em;
    left: -0.3em;

    animation-name: zig-zag-anim;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes zig-zag-anim{
    50%{
        left: 5%;
        top: 2%;
    }
}

.plus{
    z-index: 1;

    top: -0.8rem;
    left: 50%;

    animation-name: plus-anim;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes plus-anim{
    50%{
        top: 3%;
        left: 48%;
    }
}

.dots{
    z-index: 1;

    bottom: -1rem;
    right: 0;

    animation-name: dot-anim;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes dot-anim{
    50%{
        transform: translateY(-15px);
    }
}

.cube{
    z-index: 1;

    top: -0.8em;
    right: 1em;

    animation-name: cube-anim;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-timing-function: linear;
}

@keyframes cube-anim{
    50%{
        transform: rotateY(180deg) translateY(-12px);
    }
}


.hero-faded-text{
    position: absolute;
    bottom: -14%;
    left: -5%;
    user-select: none;
    font-weight: bold;
    font-size: 5em;
    color: rgb(231,231,231);
}


.projects{
    width: 100%;
    background-color: rgb(231,231,231);
    margin-top: 4rem;
    
}

.project-heading{
    color: var(--bgOrange);
    text-align: center;

    font-size: 90px;
    padding-top: 30px;
}

/* .project-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    gap: 120px;
} */

.project-container{
    display: flex;
    flex-direction: column;
    gap: 120px;
    padding: 3rem 0;
}

.project-card{
    width: 90%;
    height: 550px;
    position: relative;
    z-index: 0;

    background-size: cover;
    background-repeat: no-repeat;

    box-shadow: 0px 0px 40px #1f1f1f;
}

.project-card::after{
    content:"";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
    transform: scaleX(1);
    background-color: #1f1f1f9a;
}

.project-card:hover .card-content{
    transform: scale(1.1);
    transition: transform 0.8s;
}

.project-card:hover .project-no{
    opacity: 1;
}

/* .project-card:hover::after{
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.8s;
} */

.project-card::before{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scaleX(0);
    background: linear-gradient(45deg, #343d68, #343d68be, #343d687c);
    z-index: 1;
    transition: transform 0.8s;
    transform-origin: left;
}

.project-card:hover::before{
    transform: scaleX(1);
}



.card-left{
    margin-right: 10%;
}

.card-right{
    margin-left: 10%;
}


#project-1{
    background-image: url(./projects/Project1.png);
}

#project-2{
    background-image: url(./projects/Project2.png);
}

#project-3{
    background-image: url(./projects/Project3.png);
}

#project-4{
    background-image: url(./projects/Project4.png);
}



.card-content{ 
    display: flex;
    flex-direction: column;
    position: absolute;
    color: white;
    z-index: 4;
    
    padding: 2em;
    bottom: 20%;
    gap: 1em;
}

.content-left{
    left: 10%;
}

.content-right{
    margin-right: auto;
    margin-left: 30%;
}

.project-no{
    position: absolute;
    font-size: 200px;
    font-weight: 600;
    color: white;
    z-index: 10;
    opacity: 0;
}

.no-left{
    top: -45px;
    left: -40px;
}

.no-right{
    top: -45px;
    right: -40px;

} 

.tech-used-icon{
    display: flex;
    flex-wrap: wrap;

    width: 60%;
    gap: 10px;
}

.tech-used-icon img{
    width:  40px;
}

.card-heading{
    font-size: 50px;
    font-weight: bold;
    line-height: 3rem;
}

.card-text{
    width: 70%;
    font-size: 16px;
    font-style: italic;
}

.button-group{
    display: flex;
    gap: 0.9rem;
    align-items: center;
}

.button-group .classic-button{
    border: none;
}

.skills{
    position: relative;
}

.skills-faded-text{
    bottom: -31%;
    right: -5%;
    user-select: none;
    font-weight: bold;
    font-size: 7em;
    color: rgb(231,231,231);
}

.skills-wrapper{
    display: flex;
    position: relative;
    justify-content: space-between;
    
    padding: 5rem;
    margin: 10rem auto;
    gap: 30px;

    box-sizing:content-box;
}

.skills-wrapper-left{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.skills-text{
    text-align: justify;

    margin-top: 1rem;
    width: 85%;
}

.skills-text p{
    margin: 15px 0;
}

.skills-heading{
    color: var(--bgOrange);
    span{
        font-size: 90px;
    }
    font-size: 50px;
    line-height: 50px;
}

.skills-icons img{
    width: 90px;
}

.skills-wrapper-right{
    background: url(./userAsset/blob\ vector.png);
    animation-name: blob;
    justify-content: center;
    width: 50%;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    background-repeat: no-repeat;
}

@keyframes blob{
    25%{
        background-position: 75% 25%;
    }
    50%{
        background-position: 50% 50%;
    }
    75%{
        background-position: 25% 75%;
    }
}

.skills-icons{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 100%;
}

.skills-icons img:hover{
    transition: transform 0.3s linear 0s;
    transform: scale(1.1);
}


.contactMeSection {
    width: 100%;
    background-color: #e7e7e7;
  }
  
  .container h2 {
    font-size: 5em;
    padding-top: 2rem;
    color: #e84949;
  }
  
  .container h3 {
    font-size: 3em;
    color: #343d68aa;
  }
  
  .contactUsForm {
    display: flex;
    margin-top: 25px;
    justify-content: center;
    align-items: center;
  }
  
  .contactUsForm form {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  /* 
  .formFieldContainer{
    width: 100%;
  } */
  
  .formField {
    width: 100%;
    height: 42px;
    padding: 0 2rem;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #1f1f1f;
    background: #ffffff97;
    font-weight: 500;
  }
  
  .formfield:focus {
    border: none;
  }
  
  .formFieldContainer textarea {
    height: auto;
    padding-top: 1rem;
  }
  
  .formBtn .classic-button {
    transition: 0.5s;
    border: none;
    font-size: 1.4rem;
    margin: 1rem 0;
  } 
  
  .formBtn .classic-button:hover {
    transform: scale(0.9);
  }
  
  .formBtn .classic-button i {
    padding: 0 1rem;
    font-size: 1.5rem;
  }
  

  footer {
    background: #343d68;
    position: relative;
    padding: 5rem;
  }
  
  .footerFadedText {
    font-size: 5em;
    position: absolute;
    left: 0;
    bottom: 0;
    color: #535c87;
    user-select: none;
  }
  
  .footerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1.2rem;
  }
  
  .linkContainer {
    display: flex;
    gap: 2.5em;
  }
  
  .linkContainer div a {
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
    transition: color 0.6s;
    cursor: pointer;
  }
  
  .linkContainer div a:hover{
    color: #e84949;
  }
  
  .iconContainer{
    display: flex;
    gap: 1.2em;
    justify-content: center;
    align-items: center;
  }

  .awesome-icon{
    color: white;
    font-size: 35px;
    cursor: pointer;
  }
  

  .awesome-icon:hover{
    transition: color 0.4s;
    color: var(--bgOrange);
  }
  
